apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: dapr-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin.default.svc.cluster.local:9411/api/v2/spans"
  metric:
    enabled: true
  secretStore:
    name: kubernetes
    component: kubernetes
  httpPipeline:
    handlers: []
  grpcPipeline:
    handlers: []
  features:
    - name: AppHealthCheck
      enabled: true
    - name: InputBindingRetry
      enabled: true